.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

cache/
artifacts/*
!artifacts/contracts/
artifacts/contracts/**/*.dbg.json

coverage*
.coverage*
smartcheck*
contracts_flattened/
docs/

yarn-error.log
node_modules/

.DS_Store
