---
title: Smart Contract Reference

language_tabs: # must be one of https://git.io/vQNgJ
- javascript

toc_footers:
- <a href='https://github.com/animocabrands/ethereum-contracts-assets_inventory'>Smart Contract repository</a>

# includes:
# - errors

search: true
---

# Introduction

Welcome to the Animoca Brands Ethereum Assets Inventory.

# Setting Up

> You can clone and setup the repo via the following:

```
git clone https://github.com/animoca/ethereum-contracts-assets_inventory
cd ethereum-contracts-assets_inventory
yarn
```


# Contracts ABI
