---
title: Smart Contract Reference

language_tabs: # must be one of https://git.io/vQNgJ
- javascript

toc_footers:
- <a href='https://github.com/thesandboxgame/sandbox-smart-contracts'>Smart Contract repository</a>

# includes:
# - errors

search: true
---

# Introduction

Welcome to the REVV Smart Contracts documentation.

# Setting Up

> You can clone and setup the repo via the following:

```
git clone https://github.com/animoca/revv-ethereum-contracts
cd revv-ethereum-contracts
yarn
```


# Contracts ABI
